<div class="cultivos-container">
    <div class="principal row">
        <div class="col tab" (click)="switchTab('graph')">Gráfico</div>
        <div class="col">|</div>
        <div class="col tab" (click)="switchTab('haab')">haab</div>
    </div>
    <ng-container *ngIf="tab==='graph'">
        <div *ngFor="let cultivo of cultivos">
            <app-cultivo-recomendado [cultivo]="cultivo"></app-cultivo-recomendado>
        </div>
    </ng-container>
    <ng-container *ngIf="tab==='haab'">
        <div class="imagen">
            <h1>¿Qué es el haab?</h1>
            <p>
                El Haab es un calendario solar maya de 365 días que se aproxima al año solar.
                La palabra “haab” significa “año” en el idioma maya yucateco.
            </p>
            <img src="../../assets/img/haab.png">
        </div>
    </ng-container>
</div>