<div class="footer">
    <div class="footer-item">
      <div class="icon" routerLink="/home">
        <img src="../../assets/img/camera.svg" alt="Camera Icon" />
      </div>
    </div>
    <div class="footer-item">
      <div class="icon" routerLink="/home">
        <img src="../../assets/img/home.svg" alt="Home Icon" />
      </div>
    </div>
    <div class="footer-item">
      <div class="icon" routerLink="/home">
        <img src="../../assets/img/graph.svg" alt="Analytics Icon" />
      </div>
    </div>
  </div>
  